---
name: Check for poetry updates and open PR
on:
  workflow_dispatch: ~
  schedule:
    - cron: '0 6 * * *'

jobs:
  update-dep:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install jq
        run: |
          sudo apt-get update
          sudo apt-get install jq

      - name: Update poetry to latest version.
        run: |
          VERSION="$(curl -f -s -H "Accept: application/json" "https://api.github.com/repos/python-poetry/poetry/releases/latest" | jq -r '.tag_name')"

          printf 'POETRY_VERSION=%s\n' "$VERSION" >> $GITHUB_ENV

          if [ -n "$VERSION" ] ; then
            sed -i "/^POETRY_VERSION=/s/=.*$/=\"$VERSION\"/" scripts/build.sh
          fi

      - name: Open PR
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message:
            '[bot] Update poetry to version ${{ env.POETRY_VERSION }}.'
          title: '[bot] Update poetry to version ${{ env.POETRY_VERSION }}.'
          body: |
            - Poetry updated to version ${{ env.POETRY_VERSION }}

            Changelog: https://github.com/python-poetry/poetry/releases/tag/${{ env.POETRY_VERSION }}

            Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          branch: poetry-bot-updates
